.infoContainer {
    /* background-color: aqua; */

    align-items: 'center';
    justify-content: "center";
    display: flex;
    flex-direction: column;
    order: '1px solid black';
    text-align: center;
}

.empty {
    /* background-color: blue; */
    text-align: center;

}

.countryName {
    /* text-align: center; */
    font-size: '50%';
    font-weight: bold;
}